.ItemListItem {
    background: #A98743;
    border: 0;
    border-bottom: 1px solid #3f455038;
    font-size: smaller;
    display: block;
    padding: 10px 10px 0;
    text-align: left;
    width: 100%;
    text-decoration: none;
  }
  
  .ItemListItem:hover {
    cursor: pointer;
    background-color: #f7C548;
  }
  
  .ItemListItem,
  .ItemListItem:visited {
    color: #33261D;
  }
  
  .ItemListItem__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  .ItemListItem__heading {
    margin: 0;
  }
  
  .ItemListItem__footer {
    padding: 10px 0;
  }