.LoginForm {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.loginItem {
  margin-bottom: 10px;
}

.loginSubmit{
  margin-right: auto;
  margin-left: auto;
}