.Header {
    width: auto;
    height: auto;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: #33261D;
    padding:5%;
  }
  
  .Header h1 {
    margin: 0;
  }
  
  .Header h1 a {
    text-decoration: none;
  }
  
  .Header a {
    color: #F7C548;
  }

  .Header__logged-in {
    display: flex;
    flex-direction: row;
  }
  
  .Header__not-logged-in {
    display: flex;
    flex-direction: row;
  }
  
  .Header__not-logged-in .Hyph {
    display: none;
  }

  .headerItem {
    margin-left: 5px;
  }
  
  @media screen and (min-width: 450px) {
    .Header {
      align-items: baseline;
    }
    .Header h1 {
      font-size: 22pt;
    }
  
    .Header__not-logged-in {
      display:flex;
      flex-direction: row;
    }
  
    .Header__not-logged-in .Hyph {
      display: initial;
    }

    .filter {
      display: flex;
      flex-direction: column;
    }
  }